%ul.nav.nav-pills.nav-stacked
  %li.active
    = link_to "My account"
  = if current_user.admin? then
    - link_to "Admin Dashboard", dadmin_path, :class => 'btn btn-danger'
  - else
  %li
    = link_to "Edit My Account", edit_user_registration_path
  %li
    = link_to "Place New Order", new_order_path
  %li
    = link_to "My Placed Orders X"
