.col-md-2
  =render 'navbard'
.col-md-10
  %h1 
    Welcome to your Dashboard
    / = current_user.name + '.'
  .text-norm.contactform.col-md-10
    %u
      %h2 Your current details are :
      %p
    %h2 Email:

    = current_user.email

    %h2 Full Name:

    = current_user.name

    %h2 Address Line 1:

    = current_user.address_line_1

    %h2 Address Line 2:

    = current_user.address_line_2

    %h2 Postcode:

    = current_user.postcode

    %h2 City:

    = current_user.city

    %h2 Country:

    = current_user.country
    %p
    %u
      %font{:color => "red"} *If any of the fields are blank/wrong please fill them in in 
      = link_to "Edit My Account", edit_user_registration_path
      