%h1 labels
- for order in @order
= paginate @order
  .labeley
    .label-title
      %h2 DMS international
    .label-cr.pull-right
      = order.id
      CR
    .label-client
      %h5 Client Details:
      Client name:
      = order.user.name
      %br
      Client email:
      = order.user.email
      %br
      Client address:
      = order.user.address_line_1
      ,
      = order.user.address_line_2
      %br
      = order.user.postcode
      %br
      = order.user.city
      %br
      = order.user.country
    .label-del
      %h5 Delivery Details:
      Delivery name:
      = order.delivery_name
      %br
      Delivery address:
      = order.delivery_address1
      = order.delivery_address2
      = order.delivery_address3
      %br
      = order.delivery_city
      %br
      = order.delivery_postcode
      %br
      service level:
      = order.service
      %br
      Consignment reference:
      = order.id
      CR
%button.btn.btn-primary{:href => "#", :onclick => "window.print();return false;"} print me
