!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title DMS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %header
      .container
        /Nav Bar and Banner
        = image_tag('banner.jpg', :class => "banner img-responsive")
        =render '/home/navbar'
        .col-md-12
          .logged
            - if user_signed_in?
              #{current_user.email} Not you ? #{link_to 'Sign out', destroy_user_session_path, :method => :delete}
            - else
              #{link_to 'sign in', new_user_session_path}
        /alerts
        / %p.notice= notice
        / %p.alert= alert

        /contact alert
        .col-lg-12
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
                %a.close{"data-dismiss" => "alert"}
                  &times;
                = content_tag :div, msg, :id => "flash_#{name}"
    %p
    %body
      .container
        = yield
    %footer
      .container
        =render '/home/footer'